{% extends 'base.html.twig' %}

{% block title %}LOGIN{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('build/css/login.css') }}">
    <body>
        <div class="mainWrapper">
            <div class="authBlock">
                <div class="registrationBlock">
                    <img style="width: 65px; height: 65px; margin-bottom: 12px"
                         src="{{ asset('build/images/logo.svg') }}">
                    <h1 class="title">Authorization</h1>
                    <form method="post" class="form">
                        <div class="input-field" style="position: relative">
                            <input id="email" type="email" class="input" name="email">
                            <label for="email"
                                   style="font-weight: 500; font-size: 16px; color: #48525B;">
                                Your email
                            </label>
                        </div>
                        <div class="input-field" style="position: relative">
                            <input id="password" type="password" name="password" class="input inputPass">
                            <label for="password"
                                   style="font-weight: 500; font-size: 16px; color: #48525B;">
                                Password
                            </label>
                            <span toggle="#confirm-password"
                                  class="field-icon toggle-password"
                                  style="width: 22px; height: 15px; position: absolute; right: 0; bottom: 21px">
                                <span class="material-icons eye eyeDisabled">visibility</span>
                            </span>
                        </div>
                        <button class="mainButton" type="submit" id="kt_login_signin_submit">Sign In</button>
                        <a href="{{ path('app_forgot_password_request') }}" id="kt_login_forgot" class="blueButton">Forgot password?</a>
                    </form>
                </div>
            </div>
            <div style="display: flex; align-items: center; max-width: 280px; height: 22px; margin-top: 24px">
                <p class="question">Don’t have an account?</p>
                <p class="blueButton" style="width: 100px">Sign up</p>
            </div>
        </div>
        <script>
            let eye = document.querySelector('.eyeDisabled');
            let input = document.querySelector('.inputPass');

            input.onfocus = function() {
                eye.style.display = 'block';
            };
            input.onblur = function() {
                if (eye.classList.contains('eye') && !input.value) eye.style.display = 'none';
            };


            eye.addEventListener('click', () => {
                eye.classList.toggle('eyeDisabled');
                if (input.type === "password") {
                    input.type = "text";
                } else {
                    input.type = "password";
                }
            })
        </script>
    </body>
{% endblock %}

{% block javascripts %}
{% endblock %}