{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('build/css/checkEmail.css') }}">
    <body>
    <div class="mainWrapper">
        <div class="authBlock">
            <div class="registrationBlock">
                <img style="width: 65px; height: 65px;"
                     src="{{ asset('build/images/logo.svg') }}">
                <h1 class="title">Confirm your email</h1>
                <p class="text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Ut posuere massa arcu, ut lacinia tellus cursus quis.
                    Curabitur iaculis turpis ut viverra dictum.
                </p>
                <button class="mainButton">Continue</button>
            </div>
        </div>
    </div>
    </body>
    <script>
    </script>

{% endblock %}
