{% extends 'base.html.twig' %}

{% block title %}Register and pay{% endblock %}


{% block main %}

    <div class="w-100">
        {{ include('landing/buy/buy_form.html.twig') }}
    </div>

{% endblock %}
